[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"discord.py" = "*"
tabulate = "*"
pony = "*"
flashtext = "*"
psycopg2cffi = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
